/* .body {
  background-color: rgb(176, 200, 222);
} */

.body {
  background-image: url(https://images.unsplash.com/photo-1478145046317-39f10e56b5e9?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80);
  background-size: cover;
}

.search-bar {
  border-radius: 8%;
}

.search-button {
  border-radius: 8%;
  background-color: rgba(46, 46, 224, 0.897);
  color: whitesmoke;
}

.greeting {
  display: flex;
  justify-content: center;
  color: rgba(65, 132, 219, 0.795);
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke,
    0 -1px whitesmoke;
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe-card {
  z-index: 5;
  background-color: rgb(211, 212, 219);
  width: 90%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 3% 1% 1% 1%;
  border-radius: 5%;
  border: solid black 1px;
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-search {
  display: flex;
  justify-content: center;
}

.recipe-name {
  display: flex;
  justify-content: center;
  font-size: large;
}

.recipe-time {
  font-size: smaller;
}

#modal-tital {
  display: flex;
  justify-self: center;
}

.modal-body {
  display: flex;
  justify-self: center;
  justify-content: space-around;
}

.paginator {
  display: flex;
  justify-content: center;
}

.yes-no {
  margin-left: 15%;
  width: 25%;
  height: 50%;
}
