/* .body {
  background-color: rgb(176, 200, 222);
} */

.body {
  background-image: url(https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-1.2.1&auto=format&fit=crop&w=653&q=80);
  background-size: cover;
}

.search-bar {
  border-radius: 8%;
}

.search-button {
  border-radius: 8%;
  background-color: mediumblue;
  color: whitesmoke;
}

.greeting {
  display: flex;
  justify-content: center;
  color: lightslategray;
}

.recipes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.recipe-card {
  z-index: 5;
  background-color: whitesmoke;
  width: 90%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  margin: 3% 1% 1% 1%;
  border-radius: 5%;
  border: solid black 1px;
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-search {
  display: flex;
  justify-content: center;
}

.recipe-name {
  justify-content: center;
  font-size: large;
}

#modal-tital {
  display: flex;
  justify-self: center;
}

.modal-body {
  display: flex;
  justify-self: center;
}
